<% provide(:title, 'User Profile') %>

<div class="jumbotron">
  <h2 class="display-2"><%= @user.username %></h2>
  <h3>Total Votes: <%= @total_votes %></h3>
  <% if current_user&.id == @user.id %>
    <a class="btn btn-primary btn-lg" href="#" role="button">Edit</a>
  <% end %>
</div>

<%= render 'comments/submit', commentable: @user %>

<%= render 'comments/paginate', comments: @comments %>
