<% @posts.each do |post| %>
<div class="card text-center mb-4">
  <div class="card-body">
    <h5 class="card-title"><%= post.title %></h5>
    <%= button_to "Read", post, class: "btn btn-primary", method: "get" %>
  </div>
  <div class="card-footer text-muted">
    <%= post.created_at.strftime("%F %T") %>
  </div>
</div>
<% end %>