<% @posts.each do |post| %>
<div class="card mb-2 ">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <%= link_to  post.title, post, class: "font-weight-bold" %>
      </div>
      <div class="float-right">
        <%= post.created_at.strftime("%F") %>
      </div>
    </div>
  </div>
</div>
<% end %>