<%= form_for @post, url: { action: "create" } do |f| %>
<div class="form-group">
  <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
</div>
<div class="form-group">
  <%= f.text_area :body , class: "form-control", rows: "10", placeholder: "Body" %>
</div>
<%= f.submit "Submit Post", class: "btn btn-primary" %>
<% end %>