<h3>
  <%= @post.title %>
</h3>
<p>
  <span class="badge badge-primary">Votes <%= @post.vote %></span>
  <span class="badge badge-secondary"><%= @post.created_at.strftime("%F") %></span>
</p>
<p class="border p-3">
  <%= @post.body %>
<p>